@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.flipped {
    transform: rotateY(180deg);
}

.perspective-3000 {
  perspective: 3000px;
}

.perspective-2000 {
  perspective: 2000px;
}

.perspective-1000 {
  perspective: 1000px;
}

.perspective-800 {
  perspective: 800px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00ff37;
}